<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps</title>
    <!-- <link rel="stylesheet" href="../styles/main.css" /> -->
  </head>
  <body>
    <header>
      <!-- App Bar (Navigation Bar) -->
      <nav>
        <div class="logo">Restaurant App</div>
        <ul class="nav-menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
        <div class="menu-icon" id="menu-icon">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </nav>
      <!-- Navigation Drawer -->
      <aside id="nav-drawer" class="nav-drawer">
        <ul class="nav-drawer-menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </aside>
    </header>
    <!-- Hero Element -->
    <section class="hero">
      <img src="./images/heros/hero-image_1.jpg" alt="Hero Image" />
    </section>
    <!-- Daftar Restoran -->
    <section class="restaurant-list">
      <!-- Populate this section with restaurant data -->
    </section>
    <!-- Footer -->
    <footer>
      <p>&copy; 2023 - Restaurant App</p>
    </footer>
    <!-- <script src="../scripts/index.js"></script> -->
  </body>
</html>

